.jumbotron {
    background: transparent;
}

body {
    background: #00b4ff73;
    color: black;
    /*height: 100vh;*/
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    color: black;
}

a:hover {
    color: darkblue;
    text-decoration: none;
}

.resume-link {
    color: darkgreen;
    font-weight: bold;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.card-columns {
    columns: 1;
}

.skill-set {
    columns: 2;
}

.card {
    background-color: #ffffff80;
    border: none;
}

.card-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #00000020;
    text-transform: uppercase;
}

.list-group-item {
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #8cddff;
    border: none;
    border-radius: 5px;
}

.input-group-addon {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.list-group-item-action {
    color: black;
}

.list-group-item-action:hover {
    color: black;
}

@media (max-width: 992px) {
    .skill-set{
        columns: 1;
    }
}