.jumbotron {
    background: transparent;
}

body {
    background: #00b4ff73;
    color: black;
    /*height: 100vh;*/
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.card-columns {
    columns: 2;
}

.card {
    background-color: #ffffff40;
}

.card-title{
    border-bottom: 1px solid #00000020;
    text-transform: uppercase;
}