.jumbotron {
    background: transparent;
}

body {
    background: #00b4ff73;
    color: black;
    /*height: 100vh;*/
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    color: black;
}

a:hover {
    color: darkblue;
    text-decoration: none;
}

.resume-link {
    color: darkgreen;
    font-weight: bold;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.card-columns {
    columns: 2;
}

.card {
    background-color: #ffffff80;
    border: none;
}

.card-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #00000020;
    text-transform: uppercase;
}

